.sideBar-Container {
  background-color: blue;
  height: 100%;
<<<<<<< HEAD
  //   position: fixed;
  //   width: 20%;
  width: 100%;
=======
  position: sticky;
  top: 0;
>>>>>>> bdd6157bdef8bbd6f4d6bac86b3b1c281e8622e4
}
