@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.Auth {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-height: 100vh;
  .signup-field {
    width: 50%;
    margin-bottom: 5em;
    margin-top: 2em;
    height: 100%;
  }
  .signin-field {
    margin-top: 2em;
    width: 50%;
  }
}

.back-button {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 3em;
}

.back-button:hover {
  outline: none;
  border: none;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4em;
  .input-container {
    margin: 10px 0px;
  }
}

.login-content-container {
  min-height: 600px;
}

.signup-content-container {
  min-height: 800px;
}

.auth-video-container {
  //   background-color: orange;
  position: relative;
  width: 50%;
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.error {
  color: red;
  width: 300px;
  display: flex;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  .login-title {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
  }

  .login-subtitle {
    font-family: 'Times New Roman', Times, serif;
    color: #a3a3a3;
    font-size: 20px;
    //   font-weight: 600;
    letter-spacing: -1px;
    .special {
      font-family: 'Dancing Script', cursive;
      // font-weight: 600;
    }
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span {
    width: 140px;
    height: 1px;
    background-color: #cfcfcf;
    margin: 0px 10px;
  }
  p {
    margin: 0;
    font-size: 10px;
  }
}

.auth-video {
  position: fixed;
  top: 0;
  background-size: cover;
  height: 100%;
  background-position: center;
  overflow: hidden;
  object-fit: cover;
  width: 50vw;
}

.google > span {
  color: #5252fe;
}

.continue-with {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  &:hover {
    color: #9797f1;
  }
  span {
    margin: 0px 5px;
  }
  .google-font {
    font-size: 24px;
  }
  .facebook-font {
    font-size: 24px;
    color: #4267b2;
  }
  .apple-font {
    font-size: 24px;
  }
}

.change-auth-method {
  margin-top: 1em;
  margin-bottom: 10em;
}
