button {
  border-radius: 4px !important;
}

.large {
  width: 350px;
}

.medium {
  width: 100px;
}

.small {
  width: 50px;
}

.primary {
}

.secondary {
}

.solid {
  color: #ffffff;
  background-color: #1a1a1a;
}

.transparent {
  border: 1px solid black;
  background-color: transparent;
  color: #000000;
}
